<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cool Submission and Components</title>
</head>
<body>
<div id="app">

    <div v-for="item in list">
        {{item}}
    </div>
<br>


    <input Name="text" placeholder="Name" v-model="message"/>
    <div>{{warning}}</div>

</div>

<br>



<div id="app">
    <form id="form" action="#">

    </form>
    <input type="text"  name="" id="email" placeholder="Email" onkeydown="validation()">
    <br>
    <span id="text"></span>

</div>


</div>




<script src="vue.js"></script>
<script src="app.js"></script>
</body>
</html>
